.btn {
	padding: .6rem 1.2rem;
	border-radius: 2.4rem;
	text-decoration: none;	
	font-size: 1.6rem;

	&:hover {
		transition-property: all;
		transition-duration: .3s;
	}

	&--blue {
		background-color: $mainBlue;
		color: $mainWhite;
		border: 2px solid $mainBlue;
		font-weight: bold;

		&:hover {
			background-color: lighten($mainBlue, 15%);
			border: 2px solid lighten($mainBlue, 15%);
			color: $mainWhite;
		}
	}

	&--margin-right {
		margin-bottom: 1.8rem;

		@include moreThan768 {
			margin-bottom: 0;
			margin-right: 4.2rem;
		}
	}
}