.footer {
	height: $footerHeight;
	background-color: $mainBlack;
	display: flex;
	justify-content: space-around;

	&__social-media {
		display: flex;
		justify-content: center;
		padding-right: 0;
	}
}