.header {
	height: $headerHeight;
	background-color: $mainBlack;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 10;

	@include moreThan1200 {
		justify-content: space-around;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	@include moreThan1200 {
		width: 124rem;
	}
}

.logo {
	display: flex;
	align-items: center;

	@include moreThan768 {
		width: 33%;
	}

	a {
		text-decoration: none;
		color: $mainWhite;
		font-size: 3.2rem;
	}
}