.heading {
	
	margin: 0;

	&__section {
		font-size: 30px;
	}

	&__portfolio-item {
		padding-left:  15px;
		padding-bottom: 15px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__portfolio-skills {
		padding-left: 15px;
		padding-top: 15px;
	}

	&--padded {
		padding-top: 30px;
	}

	&--centered {
		text-align: center;
	}

	&--white {
		color: #fff;
	}
	
	&--padding-bottom {
		padding-bottom: 30px;
	}
}