.header {
	height: 7.5rem;
	background-color: $mainBlack;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;

	@include moreThan1200 {
		justify-content: space-around;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;

	@include moreThan1200 {
		width: 1240px;
	}
}

.logo {
	padding-top: 2rem;
	padding-left: 2rem;

	@include moreThan800 {
		width: 33%;
	}

	a {
		text-decoration: none;
		color: $mainWhite;
		font-size: 3rem;
	}
}