.hero-section {
	position: relative;
	padding-top: 75px;
	background: url('/home/david/web_development/portfolio/src/images/leather.jpg');
	height: 100vh;

	@include lessThan1380{
		background: url('/home/david/web_development/portfolio/src/images/images/leather--medium.jpg');
	}

	@include lessThan990{
		background: url('/home/david/web_development/portfolio/src/images/images/leather--small.jpg');
	}

	@include lessThan640{
		background: url('/home/david/web_development/portfolio/src/images/images/leather--smaller.jpg');
	}
	&__image {
		width: 100%;
		display: block;
	}

	&__text-content {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-40%);

		@include moreThan530 {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__main-headline {
		display: none;

		@include moreThan530 {
			display: block;
		}
	}

	&__text {		
		margin: 15px;
		
		@include moreThan530 {margin: 30px;}
	}
}