.hero-section {
	background: url('/images/cobweb-mobile.jpg');
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;

	@include moreThan768 {
		background: url('/images/cobweb.jpg');
	}

	&__text-content {
		background: rgba($mainWhite, .5);
		border-radius: 2.4rem;
		padding: 2.4rem;
	}

	&__sub-headline {
		font-size: 2.4rem;
		margin-bottom: 2.4rem;
	}

	&__cta-wrapper {
		display: flex;
		flex-wrap: wrap;

		a {
			width: 100%;
		}

		@include moreThan768 {
			a {
				width: 17.2rem;
			}
		}
	}
}