.navigation-bar {
	height: 75px;
	background-color: rgba(0,0,0,1);
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include moreThan800 {
		justify-content: space-around;
	}
	
	&--fixed {
		position: fixed;
		z-index: 10;
	}
}

.logo-container {
	float: none;
	margin-left: 15px;

	@include moreThan800 {
		float: left;
		margin-left: 0;
	}

	@include moreThan1200 {
		float: left;
	}
}

.logo {
	padding-top: 20px;

	a {
		text-decoration: none;
		color: #fff;
		font-size: 30px;
	}
}