.portfolio {

	&__item {
		margin-top: 30px;
		@include moreThan800 {
			height: 350px;
			overflow: auto;
		}
	}

	&__item-header {
		@include clearfix;

		h3, span {
			float: left;
		}
	}

	&__skills {
	
		padding: 15px;

		@include clearfix;

		li {
			float: none;
			font-size: 16px;
			padding: 5px 15px;
			margin: 0 15px 15px 0;
			color: #fff;
			border-radius: 15px;
			text-align: left;			
			background-color: $mainBlue;
			display: inline-block;
			list-style: none;

			@include moreThan800 {
				float: left;
				margin-left: 0;
			}
		}
	}
}