.row {

	&--6 {
		float: none;
		width: 100%;

		@include moreThan768 {
			width: 50%;
			float: right;
		}
	}

	&--3 {
		float: none;
		width: 100%;

		@include moreThan768 {
			width: 33%;
			float: right;
		}
	}
}