.section {
	position: relative;
	margin: 0 auto;
	min-height: 100vh;

	@include moreThan768 {
		max-width: 120rem;
	}

	&--full-width {
		max-width: 100%;
	}

	&--dark {
		background-color: $mainColor;
		color: $mainWhite;
	}

	&__heading {
		padding-top: 3rem;
		text-align: center;
		padding-bottom: 3rem;
	}
}

#my-work-scrollpoint,
#contact-scrollpoint {
	position: absolute;
	top: -$headerHeight;
}