.social-media-section {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@include moreThan768 {
		padding-right: 1.8rem;
		width: 33%;
	}

	a {
		color: $mainWhite;
	}

	&__icon {
		font-size: 2rem;
		padding-left: 1.2rem;
		&:first-child {
			padding-left: 0;
		}
	}
}