.social-media-section {
	display:none;

	@include moreThan800 {
		padding-right: 2rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 33%;
	}

	a {
		color: #fff;
	}

	&__icon {
		font-size: 20px;
		padding-left: 15px;
	}
}