.social-media-section {
	display:none;

	@include moreThan768 {
		padding-right: 1.8rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 33%;
	}

	a {
		color: $mainWhite;
	}

	&__icon {
		font-size: 2rem;
		padding-left: 1.2rem;
		&:first-child {
			padding-right: 0;
		}
	}
}