* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

a,
body {
  color: #333;
}

p {
  margin: 0 0.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  margin: 2.4rem 0.6rem 0.6rem;
}

h3,
h4 {
  font-size: 2rem;
}

h4 {
  margin: 0.6rem 0;
}

.central-container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 2.4rem;
  text-decoration: none;
  font-size: 1.6rem;
}

.btn:hover {
  transition-property: all;
  transition-duration: 0.3s;
}

.btn--blue {
  background-color: #2c6182;
  color: #fff;
  border: 2px solid #2c6182;
  font-weight: 700;
}

.btn--blue:hover {
  background-color: #3f8cbb;
  border: 2px solid #3f8cbb;
  color: #fff;
}

.btn--margin-right {
  margin-bottom: 1.8rem;
}

.section {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}

.section--full-width {
  max-width: 100%;
}

.section--dark {
  background-color: #333;
  color: #fff;
}

.section__heading {
  text-align: center;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

#contact,
#my-work {
  position: absolute;
  top: -7.8rem;
}

header {
  height: 7.8rem;
  background-color: #000;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

header .social-media-section {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
}

.header-menu {
  margin-top: 7.8rem;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 1;
  background-color: #fff;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.header-menu li {
  list-style: none;
  padding-bottom: 2.4rem;
  font-weight: 700;
  font-size: 3.6rem;
  float: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-menu a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.menu-button {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 1.9rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
}

.menu-icon:before {
  content: "";
  top: 0;
}

.menu-icon:before,
.menu-icon__middle {
  position: absolute;
  left: 0;
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
}

.menu-icon__middle {
  top: 0.8rem;
}

.menu-icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 0.3rem;
  background-color: #fff;
}

.hero-section {
  background-image: url(cobweb-mobile.webp);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-section__text-content {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 2.4rem;
  padding: 2.4rem;
}

.hero-section__sub-headline {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.hero-section__cta-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hero-section__cta-wrapper a {
  width: 100%;
}

.social-media-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-media-section a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  align-items: center;
}

.social-media-section a span {
  font-size: 1.2rem;
}

.social-media-section__icon {
  font-size: 2rem;
  padding-left: 1.2rem;
}

.social-media-section__icon:first-child {
  padding-left: 0;
}

.my-work__current {
  padding: 0.6em 1.8rem;
  border: 0.1rem solid #333;
  border-radius: 2.4rem;
  background: #eee;
}

.my-work__skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
}

.my-work__skills h4 {
  font-size: 1.6rem;
  width: 100%;
}

.my-work__skill-card {
  padding: 0.6rem 1.8rem 0;
  margin: 1.2rem 0.6rem;
  width: 100%;
  border: 0.1rem solid #333;
  border-radius: 2.4rem;
  background: #eee;
}

.my-work__skills-category {
  display: flex;
  flex-wrap: wrap;
}

.my-work__skills-category li {
  font-size: 1.6rem;
  padding: 0.6rem 3rem;
  margin: 0 1.8rem 1.8rem 0;
  color: #fff;
  background-color: #2c6182;
  border-radius: 2.4rem;
  list-style: none;
}

.contact-section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.contact__text-box {
  font-size: 2.4rem;
}

.contact__text-content {
  height: 100%;
  width: 100%;
}

.contact__email-link {
  font-size: 3rem;
  margin-top: 2.4rem;
  font-weight: 700;
}

.contact__email-link a {
  color: #397da8;
  text-decoration: none;
}

.footer {
  height: 7.8rem;
  background-color: #000;
  display: flex;
  justify-content: space-around;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

@media only screen and (min-width: 768px) {
  .btn--margin-right {
    margin-bottom: 0;
    margin-right: 4.2rem;
  }

  .section {
    max-width: 120rem;
  }

  .logo {
    width: 33%;
  }

  .header-menu {
    opacity: 1;
    background-color: #000;
    position: static;
    margin-top: 0;
    width: 34%;
  }

  .header-menu ul {
    flex-wrap: nowrap;
  }

  .header-menu li {
    padding-bottom: 0;
    font-size: 2rem;
  }

  .header-menu a {
    color: #fff;
  }

  header .social-media-section {
    display: flex;
  }

  .hero-section__cta-wrapper a {
    width: 17.2rem;
  }

  .hero-section {
    background-image: url(cobweb.webp);
  }

  .menu-button {
    display: none;
  }

  .social-media-section {
    padding-right: 1.8rem;
    width: 33%;
  }

  .contact__text-content {
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    justify-content: space-around;
  }

  .header-container {
    width: 124rem;
  }
  .logo {
    margin-left: 0;
  }
}
