.btn {
	padding: 10px 15px;
	display: inline-block;
	background-color: #FFF;
	border-radius: 20px;
	text-decoration: none;
	color: $mainColor;

	&--margin-right {
		margin-right: 30px;
	}

	&:hover {
		background-color: #000;
		color: #fff;
		transition-property: all;
		transition-duration: .3s;
	}

	&__wrapper {
		width: 279px;
		margin: 0 auto;
	}
}