.btn {

	padding: 10px 15px;
	display: block;
	border-radius: 20px;
	text-decoration: none;	
	width: 172px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	@include bp-babyBear {
		display: inline-block;
		margin-right: 0;
		margin-left: 0;
	}

	&:hover {
		transition-property: all;
		transition-duration: .3s;
	}

	&--white-gray {
		background-color: #FFF;
		color: $mainColor;

		&:hover {
			background-color: #000;
			color: #fff;
		}
	}

	&--blue-white {
		background-color: $mainBlue;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: $mainBlue;
		}
	}

	&--margin-right-bottom {

		margin-bottom: 15px;

		@include bp-babyBear { margin-right: 50px; }
	}

	&__wrapper {
		
		margin: 0 auto;

		@include bp-babyBear {
			width: 400px;
		}

		&--margin-top {
			margin-top: 30px;
		}
	}
}