.central-container {
	max-width: 1200px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	
	@include  min-800 {
		padding: 0 30px;
	}

	@include clearfix;
}

.container {
	
	&--800 {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}
}

.navigation-container {
	display: flex;

	@include min-800 {
		justify-content: space-around;
		min-width: 800px;
	}

	@include min-1200 {
		min-width: 1200px;
	}
}