.hero-section {

	position: relative;
	padding-top: 75px;

	&__image {
		width: 100%;
		display: block;
	}

	&__text-content {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-40%);

		@include bp-babyBear {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__main-headline {
		display: none;

		@include bp-babyBear {
			display: block;
		}
	}

	&__sub-headline {

	}

	&__text {		
		margin: 15px;
		
		@include bp-babyBear {margin: 30px;}
	}
}