.hero-section {

	position: relative;

	&__image {
		width: 100%;
		margin-top: 75px;
	}

	&__text-content {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__main-headline {
		
	}

	&__sub-headline {

	}

	&__text {
		margin: 30px;
	}

}