.main-navigation {
	position: fixed;
	z-index: 10;
	background-color: rgba(255,255,255, .7);
	top:0;
	bottom: 0;
	left:0;
	right: 0;
	padding-top: 150px;

	@include bp-mamaBear {
		background-color: transparent;
		position: static;
		padding-top: 25px;
		float: right;
		width: 70%;
	}

	@include bp-papaBear {
			width: 50%;
			float: left;
	}

	ul {
		@include clearfix;

	}

	li {

		list-style: none;
		font-weight: 700;
		font-size: 50px;
		float: none;



		@include bp-mamaBear {
			font-size: 20px;
			float: left;
			width: 25%;
		}

	}

	a {

		color: $mainColor;
		text-decoration: none;
		display: block;
		text-align: center;

		@include bp-mamaBear {
			color: #fff;
		}
	}

}