.navigation-bar {
	height: 75px;
	background-color: rgba(0,0,0,1);
	width: 100%;
	
	&--fixed {
		position: fixed;
		z-index: 10;
	}
}

.logo-container {
	float: none;
	margin-left: 15px;

	@include min-800 {
		width: 30%;
		float: left;
		margin-left: 0;
	}

	@include min-1200 {
		width: 25%;
		float: left;
	}
}

.logo {
	padding-top: 20px;

	a {
		text-decoration: none;
		color: #fff;
		font-size: 30px;
	}
}