.portfolio {

	&__item {
		margin-top: 30px;
		overflow: auto;
	}

	&__item-header {
		@include clearfix;

		h3, span {
			float: left;
		}
	}

	&__skills {
	
		padding: 15px;

		@include clearfix;

		li {
			float: none;
			font-size: 16px;
			padding: 5px 15px;
			margin: 0 15px 15px 15px;
			color: #fff;
			border-radius: 15px;
			text-align: left;
			padding: 5px 0;

			@include bp-mamaBear {
				float: left;
				margin-right: 15px;
				margin-left: 0;
				background-color: $mainBlue;
				list-style: none;
				padding: 5px 15px;
			}
		}
	}
}