.section {
	margin: 0 auto;
	
	@include bp-mamaBear{
		max-width: 1200px;
	}

	&--full-width {
		max-width: 100%;
	}

	&--dark {
		background-color: $mainColor;
		color: #fff;
	}

	&--padding-bottom {
		padding-bottom: 30px;
	}
}