.text-box {

	&__paragraph {
		
		font-size: 18px;

		&--centered {
			text-align: center;
		}

		&--padded {
			padding: 15px 15px;
		}

		&--padded-horizontal {
			padding: 0 15px;
		}

		&--margin-top {
			margin-top: 30px;
		}

		&--white {
			color: #fff;
		}
	}
}