* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	color: $mainColor;
	font-family: 'Roboto', Sans-Serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

a {
	color: $mainColor;
}

p {
	margin: 0 .6rem;

}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	margin: 2.4rem .6rem .6rem;
	font-size: 2rem;
}

h4 {
	margin: .6rem 0;
	font-size: 2rem;
}