* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	color: $mainColor;
	font-family: 'Roboto', Sans-Serif;
}

a {
	color: $mainColor;
}

p {
	margin: 0 .5rem;
	font-size: 1.6rem;
}

h2 {
	margin: 0 .5rem;
	font-size: 3rem;
}

h3 {
	margin: 1.5rem .5rem;
	font-size: 2rem;
}

h4 {
	margin: 0 .5rem;
	padding: .5rem 0 1rem 0;
}