* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $mainColor;
	font-family: 'Roboto', Sans-Serif;
	width: 100%;
	margin: auto;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #333;
}

.link {
	color: $mainBlue;
}